@page "/"
@using AlpacaAccountHub.AlpacaRequests
@using AlpacaAccountHub.Data
@using AlpacaAccountHub.Data.ApiKeys
@using AlpacaAccountHub.UpdateAccount
@using AlpacaAccountHub.WebSockets

@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AlpacaAccountInfo AccountInfo
@inject OpenConnection Stream
@inject UpdateKeys AddKey



    <h1 style="align-content: center">Welcome to your Account Hub!</h1>

  





@code
{
    

    protected override async Task OnInitializedAsync()
    {
       
        Stream.Start();

    }


    async Task LogUsername()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

    }
}