@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>Welcome to your Alpaca Account Hub!</h1>










@code {
    protected override async Task OnInitializedAsync()
    {
       
    }

    async Task LogUsername()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
       
    }
}